[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
scipy = "*"
tqdm = "*"
gspread = "*"
gmaps = "*"
pymongo = "*"
geopy = "*"
"oauth2client" = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.7"
